@page "/"

<div class="container">
    <div class="jumbotron">
        <MudText Typo="Typo.h4">@typeof(Index).Assembly.ReadProduct()</MudText>
        <MudText Typo="Typo.caption">Version [ @typeof(Index).Assembly.ReadInformationalVersion() ]</MudText>
        <MudText Class="pt-5 pb-2" Typo="Typo.body1">@typeof(Index).Assembly.ReadDescription()</MudText>

        <MudText Class="pt-5" Typo="Typo.h6">Features</MudText>
        <ul style="list-style-type:square">
            <li>Olive is open-source, free to use, fast and reliable.</li>
            <li>Olive is written in <strong>C#</strong>, <strong>ASP.NET</strong> and <strong>Blazor</strong>.</li>
            <li>Olive leverages the <strong>MudBlazor</strong> library, for a clean, standards driven UI.</li>
            <li>Olive leverages <strong>CODEGATOR</strong> packages, for a proven, standards driven architecture.</li>
            <li>Olive is built on top of <strong>.NET 5.x</strong>, so it runs on multiple operating systems, without fuss.</li>
            <li>Olive integrates with <strong>OIDC</strong> compliant authentication services, such as <strong>IdentityServer4</strong>.</li>
            <li>Olive integrates with <strong>AZURE</strong> key vaults, for safe, secure secret management.</li>
            <li>Olive is repository driven, making it easy to use with a variety of database storage options.</li>
            <li>Olive clients can use existing <strong>Microsoft</strong> and <strong>CODEGATOR</strong> NUGET packages, for seamless integration.</li>
            <li>Olive users are 86.5% more likely to date a super model in the next 6 months. <small>(Ok, we made that one up)</small></li>
        </ul>
    </div>
</div>



